PORT=5000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
# PostgreSQL connection string
DATABASE_URL=postgresql://username:password@localhost:5432/mitrangan_db
ADMIN_INITIAL_USERNAME=kartik
ADMIN_INITIAL_PASSWORD=@kartik9767
